[submodule "components/variant"]
	path = components/variant
	url = https://github.com/mapbox/variant.git
[submodule "components/fmt/fmt"]
	path = components/fmt/fmt
	url = https://github.com/fmtlib/fmt.git
