menu "OutPut Configuration"

config CHANOUTPUT1
    int "Chan1"
    default "16"
config CHANOUTPUT2
    int "Chan2"
    default "17"
config CHANOUTPUT3
    int "Chan3"
    default "18"
config CHANOUTPUT4
    int "Chan4"
    default "19"
    
config CHANOUT_USE_PWM
    bool "Use Pwm on Outputs"
    default n

config CHANOUT_PWM_FREQ
    int "PWM Freq"
    depends on CHANOUT_USE_PWM
    default 50
    range 10 1000

config CHANOUT_PWM_DUTY
    int "PWM Duty"
    depends on CHANOUT_USE_PWM
    default 50
    range 5 100
   

endmenu
